

<!DOCTYPE html>
<html>
<head>
<style>

h1 {
  background-color:black;
  color:white;
  text-align:center;
  padding:5px;
}
#nav {
  line-height:30px;
  background-color:#eeeeee;
  height:300px;
  width:100px;
  float:left;
  padding:5px;
}
#section {
  width:350px;
  float:left;
  padding:10px;
}
#footer {
  background-color:black;
  color:white;
  clear:both;
  text-align:center;
  padding:5px;
}
</style>
</head>
<body>

<h1>First Year of the C6 and Who Makes The Corvette?</h1>

<div id="section">
<h1> What year did the C6 Corvette come out? </h1>
<p1> The Chevrolet Corvette (C6) is a sports car that was produced by Chevrolet for the 2005 to 2013 model years.  The sixth 
     generation Corvette is the first with exposed headlamps since the 1962 model.  Production variants include the Z06, ZR1,
     Grand Sport, and 427 convertible. </p1>
</section>

<div id="section">
<h1> Who makes the Corvette? </h1>
<p1> The Corvette, known colloquially as the Vette, is a sports car manufactured by Chevrolet.  The car has been produced through
     seven generations. </p1>
</body>
</html>
</div>


<div id="section">
<%= link_to 'Invented/When Made?', root_path %>
</div>

<div id="footer">
  Copyright Info From The Web
</div>
