

<!DOCTYPE html>
<html>
<head>
<style>
h1 {
  background-color:black;
  color:white;
  text-align:center;
  padding:5px;
}
#nav {
  line-height:30px;
  background-color:#eeeeee;
  height:300px;
  width:100px;
  float:left;
  padding:5px;
}
#section {
  width:350px;
  float:left;
  padding:10px;
}
#footer {
  background-color:black;
  color:white;
  clear:both;
  text-align:center;
  padding:5px;
}
</style>
</head>
<body>
  
<h1>Who Invented The Corvette and When Was It Made?</h1>

<div id="section">
<h1> Who invented the Corvette? </h1>
<p1> The first model, a convertible, was designed by Harley Earl and introduced at the GM Motorama in 1953 as a concept show car.  
     Myron Scott is credited for naming the car after the type of small, maneuverable warship called a corvette. </p1>
</section>

<div id="section">
<h1> When was the first Corvette made? </h1>
<p1> On June 30, 1953 the Corvette went into full production (each car was built by hand) at the GM facility in Flint, Michigan, where
     300 Corvettes were built that year. </p1>
</body>
</html>
</div>




<div id="section">
<%= link_to 'First Year of C6 and Manufacturer', about_path %>
</div>

<div id="footer">
  Copyright Info From The Web
</div>